:root {
  --color-1: #551315;
  --color-2: #b11318;
  --color-3: #FC7C3D;
  --color-2-transparent: #b113189c;

  --color-bg-1: #000;
  --color-bg-2: #141414;
  --color-white-smoke: #EDEDF1;
}
*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
  
}

body{
  background-image: linear-gradient(to bottom right,var(--color-bg-1), var(--color-bg-2)  );
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  overflow-x: hidden;
} 

#root {
  font-size: 3rem;
  
}

/* ---------------------------------------------------------- */
/* Aniamtion */
/* ---------------------------------------------------------- */
@keyframes hero-text-animation {
  0%   {
    transform: translate(-50.2%, 0);
    opacity: 0;
    text-shadow: none;
  }
  40%  {
    transform: translate(-50%, 1px);
    opacity: 0;
  }
  41%  {
    transform: translate(-50.4%, 1px);
    opacity: 1;
    text-shadow: none;
    filter: blur(1.5px);
  }
  42%  {
    transform: translate(-50%, 1px);
    opacity: 0;
  }
  43%  {
    transform: translate(-50%, 1px);
    opacity: 1;
    filter: blur(1.5px);
  }
  46%  {
    transform: translate(-50.4%, 1px);
  }
  50%  {
    transform: translate(-50%, -1px);
    opacity: 0;
  }
  51%  {
    transform: translate(-50%, 0);
    opacity: 1;
    filter: blur(1.5px);
  }
  55%  {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  57%  {
    transform: translate(-50%, 0);
    opacity: 1;
    filter: blur(1.5px);
  }
  62%  {
    transform: translate(-50.4%, 0);
  }
  70%  {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  79%  {
    transform: translate(-50%, 0);
    opacity: 0;
    filter: blur(1.5px);
  }
  80%  {
    transform: translate(-50%, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
    text-shadow: none;
    filter: blur(1.4px);
  }
}


/* ---------------------------------------------------------- */
/* HERO */
/* ---------------------------------------------------------- */


.hero-img{
  width: 100vw;
  object-fit: cover;
  position: relative;
}

.hero-text{
  font-weight: 400;
  text-align: center;
  color: white;
  position: absolute;
  text-shadow: 0 0 40px whitesmoke;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: hero-text-animation 3.5s ;
  transition: all .1s;
}

/* ---------------------------------------------------------- */
/* EPISODES */
/* ---------------------------------------------------------- */

.episodes-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ---------------------------------------------------------- */
/* EPISODE CARD */
/* ---------------------------------------------------------- */

.episode{
  width: 35rem;
  margin: 4rem 2rem;
  background-image: linear-gradient(to top, var(--color-1), var(--color-2) );
  box-shadow: 0 0 3px white;
  cursor: pointer;
  transition: all .6s;
  position: relative;
}
.episode:hover{
  transform: translateY(-1px);
  box-shadow: 1px 1px 10px white;
}
.episode:hover .episode-img{
  filter: grayscale(0);
}

.episode:hover .episode-title{
  background-color: var(--color-2);
}

.episode-img{
  width: 100%;
  height: 25rem;
  object-fit: cover;
  filter: grayscale(100%);
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  transition: all .6s;
}

.episode-title{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  background-color: var(--color-2-transparent);
  color: white;
  width: 70%;
  margin: 0 auto;
  padding: 1rem;
  position: absolute;
  top: 1rem; 
  left: 50%;
  transform: translateX(-50%);
  color: white;
  transition: all .6s;
}

.episode-info{
  margin: -5rem 0 2rem 0 ;
  padding: 1rem;
  text-align: right;
  font-weight: 500;
  
}

.episode-letter{
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 5px;
}
.episode-number{
  color: var(--color-3);
  font-size: 2.3rem;
  transition: all .6s;
}

.episode-description{
  padding: 0 1rem;
  font-size: 1.8rem;
  color: var(--color-3);
  font-weight: 600;
}

.episode-summary{
  font-size: 1.4rem;
  padding: 1rem;
  min-height: 20rem;
  color: var(--color-white-smoke);
  font-weight: 300;
  text-align: justify;
  letter-spacing: 1px;
}


/* ---------------------------------------------------------- */
/* COPYRIGHT*/
/* ---------------------------------------------------------- */

.copyright{

  margin: 5rem auto 0 auto;
  padding: 3rem;
  background-color: var(--color-2-transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright-text{
  font-weight: 300;
  color: var(--color-white-smoke);
}

.copyright-image{
  width: 14rem;
  margin-top: 2rem;
}


/* ---------------------------------------------------------- */
/* INPUTS CONTAINER*/
/* ---------------------------------------------------------- */

.inputs-section, 
.show-inputs-section{
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input-search, 
.selector-list-shows, 
.selector-list-episodes,  
.show-input-search {
  outline: none;
  border: 1px solid var(--color-1);
  padding: 1rem;
  width: 35rem;
  height: 38px;
  font-family: inherit;
  margin: 1rem 2rem 3rem 1rem;
  background-color: var(--color-white-smoke);
}

.input-search::-webkit-search-cancel-button{
  appearance:none;
}

.search-text,
.show-text{
  width: 20rem;
  text-align: center;
  color: var(--color-white-smoke);
  border-top: 3px solid var(--color-1);
  padding-top: 1rem;
  position: absolute;
  bottom: -3rem;
  font-size: 1.4rem;
}

.btn{
  outline: none;
  border: none;
  border-right: 2px solid var(--color-3);

  padding: 1rem 2rem 1rem 3rem;
  font-family: inherit;
  background-color: var(--color-1);
  color: var(--color-3);
  margin: 1rem 2rem 3rem 1rem;
  transition: all .5s;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 0 50%);
 
}

.btn:hover{
  background-color: var(--color-3);
  color: var(--color-1);
  border-right: 2px solid var(--color-1);
}


/* ---------------------------------------------------------- */
/* SHOW CARD*/
/* ---------------------------------------------------------- */
.shows-section{
  
}
.show{
  width: 60%;
  min-height: 40rem;
  margin: 5rem auto;
  display: flex;
  /* align-items: center; */
  font-size: 1.6rem;
  background-image: linear-gradient(to top right, var(--color-1) 50%, var(--color-2));
  color: var(--color-white-smoke);
  font-weight: 300;
  box-shadow: 0 0 3px white;
  transition: all .6s;
  
}

/* .show:hover{
  transform: translateY(-1px);
  box-shadow: 1px 1px 10px white;
} */

.show-img{
  width: 30rem;
  object-fit:cover; 
}

.show-container-right{
  padding: 2rem;
  position: relative;
 
  
}

.show-title{
  width: 80%;
  font-weight: 500;
  font-size: 3rem;
  transition: all .5s;
  cursor: pointer;
}
.show-title:hover{
  color: var(--color-3);
}
.show-info{
  display: flex;
}
.show-runtime,
.show-genres,
.show-status{
  margin: 2rem 2rem 2rem 0;
  padding: .5rem 1rem;
  background-color: var(--color-1);
  color: var(--color-3);
  box-shadow: 0 0 3px white;
  border: 1px solid var(--color-3);
  font-size: 1.4rem;
}
.show-summary{
  font-weight: 300;
}
.show-rating{
  position: absolute;
  background-color: var(--color-1);
  padding: 1rem 2rem;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-3);
  border-left: 1px solid var(--color-3);
  box-shadow: -.5px .5px 3px white;
}
.show-rating-img{
  width: 2rem;
  margin-right: 1rem;
}
.show-rating-number{
  font-weight: 600;
  font-size: 2rem;
}

/* ---------------------------------------------------------- */
/* MEDIA QUERIES*/
/* ---------------------------------------------------------- */


@media screen and (max-width: 1380px){
  .hero-text{
    font-size: 5rem;
    top: 4rem;
  }
  .copyright-text{
    font-size: 1.8rem;
  }
  .show{
    width: 80%;
  }
}
@media screen and (max-width: 1000px){
  .input-search, .selector-list-shows, .selector-list-episodes{
    width: 24rem;
  }  

  .show{
    height: 35rem;
    width: 90%;
  }
  .show-img{
    height: 100%;
    /* align-self: stretch; */
    width: 24rem; 
    object-fit:cover; 
  }
}
@media screen and (max-width: 800px){
  .input-search, .selector-list-shows, .selector-list-episodes, .show-input-search{
    width: 20rem;
  }

  .show{
    flex-direction: column;
    height: max-content;
    align-items: center;
    /* width: 90%; */
  }
  .show-img{
    /* height: 40rem; */
    width: 100%;
    object-fit: cover;
  }

  

  .show-rating{
    top: -4.5rem;
  }

  
  
  
}


@media screen and (max-width: 750px){
  .hero-text{
    width: 90%;
    font-size: 4rem;
    top: 3rem;
  }
  .hero-img{
    height: 25rem;
  }
  .episode{
    width: 70%;
  }
  .inputs-section, .show-inputs-section{
    flex-direction: column;
  }

  .input-search, .selector-list-shows,.show-input-search, .selector-list-episodes{
    width: 30rem;
    margin-bottom: 1rem;
  }
  
  
}
@media screen and (max-width: 500px){
  .hero-text{
    font-size: 3.5rem;
  }
  .hero-img{
    height: 20rem;
  }
  .episode{
    width: 90%;
  }
  .copyright-text{
    font-size: 1.6rem;
  }
  .input-search, .selector-list-shows,.show-input-search, .selector-list-episodes{
    font-size: 1.1rem;
    width: 27rem;
  }

  .show-info{
    flex-direction: column;
    align-items: center;
    
  }
  .show-genres,.show-status,.show-runtime{
    margin: 1rem 0;
    width: max-content;
  }

  .show-container-right{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center  ;
  }

  .show-rating{
    width: max-content;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: none;
  }
  
}